<%- include ('../partials/head',{title:"Detalle del producto"}) %> 
<%- include("../partials/menuHeader.ejs")  %>  
    <!-- <section class="detailProduct">
            <div class="productImage">
                <img src="/img/products/<%= articulo.img %>" alt="tren de madera">
            </div>
            <div class="info">
                <h4>Inicio/Producto/Trenes</h4>
                <h3>TREN DE MADERA</h3>
                <p class="infoPrecio">$5,999</p>
                <p class="infoDescrip">Espectacular pista de tren con paisaje de la ciudad</p>
                <div class="buttonCarrito"><a href="/carrito">AÑADIR A CARRITO</a></div>
                <div class="redesProducDetail">Compartir: <i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i></div>
                <% if(user && access == 1 || cat == 2){ %> 
                <div class="optionEdit">
                    
                    <form action="/products/<%= articulo.id %> " method="post">
                        <div class="btnEditEli"><input type="submit" value="ELIMINAR"></div>
                    </form>
                    <a class="buttonEdit" href="/products/<%= articulo.id %>/edit"><div class="buttonCarrito">EDITAR</div></a>
                </div>
                <% } %> 
            </div>
            <div class="specs">
            <div class="specsInfo contDesktop">
                <h3>Información Adicional</h3>
                <div class="specsGroup">
                    <div class="specsInfoName">PESO:</div>
                    <div class="specsInfoResult">5kg</div>
                </div>
                <div class="specsGroup">
                    <div class="specsInfoName">TAMAÑO:</div>
                    <div class="specsInfoResult">375cmx24cm</div>
                </div>
            </div>
            <div class="specsInfo">
                <h3>Pagos y Envíos</h3>
                <div class=" specsGroupInf">
                    <div class="specsGroupItem">
                        <i class="fas fa-truck"></i>
                        ENVIOS
                        <p>A domicilio en todo el país.</p>
                        <p>Envios FLASH en caba</p>
                    </div>
                    <div class="specsGroupItem">
                        <i class="fas fa-file-alt"></i>
                        FORMAS DE PAGO
                        <p>3 cuotas sin interés con todas las tarjetas.</p>
                        <p>5% off con transferencia.</p>
                        <p>Efectivo por pago fácil ó rapipago</p>
                    </div>
                    <div class="specsGroupItem">
                        <i class="fas fa-store"></i>
                        LOCAL
                        <p>Av. 9 de Julio 100, CABA</p>
                        <p>¡Abrimos todos los dias!</p>
                    </div>
                    <div class="specsGroupItem">
                        <i class="far fa-clock"></i>
                        Horarios
                        <p>Lunes a Viernes de 12 a  19hs</p>
                        <p>Sábados de 11 a 19hs</p>
                        <p>Domingo de 14 a 19hs</p>
                    </div>
                </div>
                <p>Pódes retirar tu compra online o bien hacer tu compra presencial</p>
            </div>
        </div>
    </section>
    <section class="relacionados">
        <div class="relaProduct">
            <h3>PRODUCTOS RELACIÓNADOS</h3>
            <div class="relaProImage">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
            <div class="relaProImage oculto">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
            <div class="relaProImage oculto">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
            <div class="relaProImage oculto">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
            <div class="relaProImage oculto">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
        </div>
    </section> -->
    <section class="prinDetail">
        <img class="imgDetail" src="/img/products/<%= articulo.img %>" alt="">
        <div>
            <h3 class="titleDetail">Tren de madera</h3>
            <div class="priceDetail">
                <h4>$800</h4>
                <!-- <h4>$400</h4> -->
                <!-- <h4>Individual: $800</h4>
                <h4>Mayorista: $400</h4> -->
            </div>
            <a href="/carrito"><div class="carritoDetail">AÑADIR AL CARRITO</div></a>
            <% if(user && access == 1){ %> 
            <h4>Acciones</h4>
            <div class="buttonAccionDivDetail">
                <a href="/carrito"><div class="buttonAcDetail">EDITAR</div></a>
                <form class="buttonEliminar" action="">
                    <input type="submit" value="ELIMINAR">
                </form>
            </div>
            <% } %> 
            <!-- <div class="compartirDetail">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
            </div> -->
        </div>
        <div class="infoDetail">
            <h4>Informacion adicional</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore beatae tempora laborum delectus sapiente porro deleniti quibusdam iure dolorem dolorum totam, fugit quod enim omnis quia numquam dicta. Rem.</p>
            <p class="infoSizeDetail">
                <span>Tamaño:</span> 50x50x50
            </p>
        </div>
        <div class="pagosDetail">
            <h4>Metodos de pago</h4>
            <div>
                <i class="fas fa-file-alt"></i>
                <p>3 cuotas sin interés con todas las tarjetas.</p>
                <p>5% off con transferencia.</p>
                <p>Efectivo por pago fácil ó rapipago</p>
            </div>
            <h4>Envios</h4>
            <div>
                <i class="fas fa-truck"></i>
                <p>A domicilio en todo el país.</p>
                <p>Envios FLASH en caba</p>
            </div>
        </div>
    </section>
    <section class="relacionados">
        <div class="relaProduct">
            <h3>PRODUCTOS RELACIÓNADOS</h3>
            <div class="relaProImage">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
            <div class="relaProImage oculto">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
            <div class="relaProImage oculto">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
            <div class="relaProImage oculto">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
            <div class="relaProImage oculto">
                <div class="relaCarrousel relaCarrouselLeft"><i class="fas fa-arrow-alt-circle-left"></i></div>
                <img src="/img/products/trenes.jpg" alt="tren de madera">
                <div class="relaCarrousel relaCarrouselRight"><i class="fas fa-arrow-alt-circle-right"></i></div>
            </div>
        </div>
    </section>
<%- include("../partials/footerBase.ejs")  %>